@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@800&family=Poppins&display=swap');



.button {
    background-color: #B68C5A;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.centered {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-title {
    font-family: 'EB Garamond', serif;
}

.para-title {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: gray;
}

.business {
    height: 72.34px;
    width: 71.8px;
}

.slider-text {}

.accordion li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.05);
}

.accordion li label {
    display: flex;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

label::before {
    content: '+';
    margin-left: 10px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"] {
    display: none;
}

.accordion .content {
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.accordion input[type="radio"]:checked+label+.content {
    max-height: 400px;
    padding: 10px 1-px 20px;
}

.accordion input[type="radio"]:checked+label::before {
    content: '-';
}